{{! mustache partial for generating list of enum values }}
{{! all values are presentes as binaries, since swagger-codegen does not
detect enum defined in a type: integer field}}
{{! "items" indicates enum specifies the array items }}
{{#items}}
    [{{/items}}{enum, {{#x-onedata-datatype}}{{x-onedata-dataype}}{{/x-onedata-datatype}}{{^x-onedata-datatype}}{{datatype}}{{/x-onedata-datatype}}, [{{#allowableValues}}{{#values}}<<"{{.}}">>{{^-last}}, {{/-last}}{{/values}}{{/allowableValues}}]} {{#items}}]{{/items}}