-module(rest_api).
%
% {{appName}}
%
% {{appDescription}}
% Version: {{version}}

%
% @doc Returns a Cowboy-understandable PathList of routes supported by a module
% implementing this behavior.
% @see rest_module_behavior
% @end
%
-spec routes() ->
    [{PathMatch :: binary(), rest_handler, State :: rstate()}].
routes() ->
    S = #rstate{module = ?MODULE, root = spaces},
    M = rest_handler,
    [
{{#operations}}
{{#operation}}
      { <<"{{basePathWithoutHost}}{{path}}">>, {{operationId}}, S#rstate{resource = hosts, method = '{{httpMethod}}' },
{{/operation}}
{{/operations}}
	].


{{#operations}}
{{#operation}}
%
% '{{basePathWithoutHost}}{{path}}'
% @doc {{notes}}
%
% HTTP method: {{httpMethod}}
%
{{#allParams}}
% @param {{paramName}} {{description}}
{{/allParams}}
%
-spec {{operationId}}() -> .

{{/operation}}
{{/operations}}
