-module(rest_model).

%
% Definitions of records for REST API
%


{{#models}}
{{#model}}
%
% {{classname}}
%
% {{description}}
%
-record({{classname}}, {
{{#vars}}
	% {{description}}
    {{name}} :: {{datatype}}(), 
{{/vars}} }).

-{{classname}}_schema() ->
	#{
	{{#vars}}
	<<"{{name}}">> => { {{datatypeWithEnum}}, {{#required}}true{{/required}}{{^required}}false{{/required}} },
	{{/vars}}
	}
	.


{{/model}}
{{/models}}
